<a class="btn btn-outline-success btn-lg mb-3" [routerLink]="['/main/category-add']"><i class="fas fa-plus-circle mr-2"></i>Thêm danh mục</a>
<div class="panel panel-info">
  <div class="panel-heading">Danh sách danh mục</div>
  <div class="panel-body">
      <table class="table table-striped">
          <tr>
            <th>#</th>
              <th>Tên danh mục</th>
              <th style="width:200px;">Hành động</th>
          </tr>
          <tbody>
            <tr *ngFor="let cate of page?.content; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="padding-left: 20px;">{{cate.name}}</td>
              <td>
                <a title="Sửa sản phẩm" [routerLink]="['/main/category', cate.id]" class="btn btn-success mr-3 text-white"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button title="Xóa sản phẩm" type="button" class="btn btn-success" (click)="delete(cate.id)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-12 column">
    <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="page?.number > 0; else prev">
            <a class="page-link" [routerLink]="['./']" [queryParams]="{ page: page?.number, size: page?.size }" >Previous</a>
      </li>
        <ng-template #prev>
            <li class="page-item  disabled"><a class="page-link">Previous</a></li>
        </ng-template>

        <ng-container *ngFor="let item of counter(page?.totalPages); let i = index">
            <li class="page-item" *ngIf="page && page.number != i; else active">
              <a class="page-link " routerLink="./" [queryParams]="{ page: i + 1, size: page?.size }">{{ i + 1 }}</a >
          </li>
            <ng-template #active>
                <li class="page-item active ">
                    <button class="page-link " disabled>{{ i + 1 }}</button>
                </li>
            </ng-template>
        </ng-container>
        <li class="page-item" *ngIf="page?.number + 1 < page?.totalPages; else next">
            <a class="page-link" [routerLink]="['./']" [queryParams]="{ page: page?.number + 2,size: page?.size}">Next</a>
      </li>
      <ng-template #next>
          <li class="page-item disabled "><a class="page-link">Next</a></li>
      </ng-template>
    </ul>
  </div>
</div>
