<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <mat-card>
        <div>
          <h3>THAY ĐỔI MẬT KHẨU</h3>
          <form #f="ngForm" (ngSubmit)="f.valid&&onSubmit()">
            <mat-form-field appearance="outline" class="w-50">
              <mat-label>Nhập mật khẩu cũ</mat-label>
              <input name="password" matInput [type]="hide ? 'password' : 'text'" #password="ngModel" [(ngModel)]="form.oldpass" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.hasError('required')">Không được để trống</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="w-50">
              <mat-label>Nhập mật khẩu mới</mat-label>
              <input name="newpassword" matInput [type]="hide ? 'password' : 'text'" #password1="ngModel" [(ngModel)]="form.newpass" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password1.hasError('required')">Không được để trống</mat-error>
              <mat-error *ngIf="password1.hasError('minlength')">Mật khẩu phải có ít nhất 6 kí tự</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="w-50">
              <mat-label>Nhập lại mật khẩu mới</mat-label>
              <input name="newpassword1" matInput [type]="hide ? 'password' : 'text'" #password2="ngModel" [(ngModel)]="form.newpass1" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password2.hasError('required')">Không được để trống</mat-error>
              <mat-error *ngIf="password2.hasError('minlength')">Mật khẩu phải có ít nhất 6 kí tự</mat-error>
            </mat-form-field><br>
            <div class="alert alert-info w-50 text-center" style="margin-left: 25%;">{{status}}</div>
            <br>
            <button class="btn btn-primary btn-lg" type="submit">Thay đổi mật khẩu</button>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
