.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] circle
{
  width: 40px!important;
  height:40px;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] svg {
  width: 40px!important;
  height:40px;
}
textarea,input{
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial;
}
form .form-group label{
  font-family: fangsong;
    font-size: 15px!important;
    color: #3c8dbc!important;
}
.soluong .form-group + .form-group{
  margin: 0 20px;
}
