.pagination{
  overflow: hidden;
  height: 34px;
  display: flex;
  position: fixed;
  bottom: 60px;
  right: 20px;
}
.page-item.active .page-link{
  height: 33px;
  padding:0 10px;
}
.modal-content {
  font-size: 20px!important;
  width: 140%!important;
}
