.pagination{
  overflow: hidden;
  height: 34px;
  display: flex;
  position: fixed;
  bottom: 60px;
  right: 20px;
}
.page-item.active .page-link{
  height: 33px;
  padding:0 10px;
}
.modal-content {
  font-size: 20px!important;
  width: 140%!important;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #ddd;
  /* border-left: none; */
  border-color: rgb(179, 223, 249);
}
