
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
    <img routerLink="/" class="logo" src="https://msmobile.com.vn/images/config/logo.svg" alt="">
		<div class="card">
			<div class="card-header">
				<h3 style="color:white;">Cập nhật mật khẩu</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fa fa-facebook-square"></i></span>
					<span><i class="fa fa-google-plus-square"></i></span>
					<span><i class="fa fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form #f="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i style="font-size:16px;" class="fa fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password" name="password" [(ngModel)]="form.password" required>
            <div class="validator">
              <span class="text-danger"
                                *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors?.['required']">
                                Mật khẩu không được để trống
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['password'].touched && registerFormControl['password'].errors?.['invalidPassword']">
                                Mật khẩu phải có ít nhất 6 kí tự 1 chữ hoa 1 chữ thường và 1 số
                            </span>
            </div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i style="font-size:16px;" class="fa fa-lock"></i></span>
						</div>
						<input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirmPassword" name="repassword" [(ngModel)]="form.repassword" required>
            <div class="validator">
              <span class="text-danger"
              *ngIf="(registerFormControl['confirmPassword'].touched || submitted)&& registerFormControl['confirmPassword'].errors?.['required']">
              Mật khẩu nhập lại không được để trống
          </span>
          <span class="text-danger"
              *ngIf="registerFormControl['confirmPassword'].touched && registerFormControl['confirmPassword'].errors?.['passwordMismatch']">
              Mật khẩu nhập lại không khớp
          </span>
            </div>
					</div>
					<div class="form-group">
						<input type="submit" value="Cập nhật" class="btn float-right login_btn btn-lg mt-5">
					</div>
          <div *ngIf="!hide1" class="alert alert-danger" style="font-size: 15px;margin-top: 90px;">{{status}}</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>


