<a class="btn btn-outline-success btn-lg mb-3" [routerLink]="['/main/user-add']"><i class="fas fa-plus-circle mr-2"></i>Thêm user</a>
<div class="panel panel-success">
  <div class="panel-heading">Danh sách user</div>
  <div class="panel-body">
      <table class="table table-striped">
          <tr>
              <th>Avatar</th>
              <th>Tên</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ</th>
              <th>Vai trò</th>
              <th style="width:200px;">Action</th>
          </tr>
          <tbody>
            <tr *ngFor="let cate of page?.content">
              <td><img style="width:50px;height: 50px;border-radius: 50%;" src="{{cate.avatar}}" alt=""></td>
              <td style="padding-left: 20px;">{{cate.name}}</td>
              <td>{{cate.email}}</td>
              <td>{{cate.phone}}</td>
              <td>{{cate.address}}</td>
              <td>{{cate?.roles[0]?.name}}</td>
              <td>
                <a title="Sửa tài khoản" [routerLink]="['/main/user', cate.username]" class="btn btn-primary mr-3 text-white"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button title="Xóa tài khoản" type="button" class="btn btn-primary" (click)="delete(cate.id)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-12 column">
    <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="page?.number > 0; else prev">
            <a class="page-link" [routerLink]="['./']" [queryParams]="{ page: page?.number, size: page?.size }" >Previous</a>
      </li>
        <ng-template #prev>
            <li class="page-item  disabled"><a class="page-link">Previous</a></li>
        </ng-template>

        <ng-container *ngFor="let item of counter(page?.totalPages); let i = index">
            <li class="page-item" *ngIf="page && page.number != i; else active">
              <a class="page-link " routerLink="./" [queryParams]="{ page: i + 1, size: page?.size }">{{ i + 1 }}</a >
          </li>
            <ng-template #active>
                <li class="page-item active ">
                    <button class="page-link " disabled>{{ i + 1 }}</button>
                </li>
            </ng-template>
        </ng-container>
        <li class="page-item" *ngIf="page?.number + 1 < page?.totalPages; else next">
            <a class="page-link" [routerLink]="['./']" [queryParams]="{ page: page?.number + 2,size: page?.size}">Next</a>
      </li>
      <ng-template #next>
          <li class="page-item disabled "><a class="page-link">Next</a></li>
      </ng-template>
    </ul>
  </div>
</div>
